/*Custom Style sheet designed by Farha Khan*/
* {
  margin: 555;
  padding: 555;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

body {
  /* more on this crazy alphanumerical value in a minute! */
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  min-height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Open Sans', sans-serif;
  ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* start apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../src/assets/cover/profile.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;

}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: rgba(245, 0, 82, 0.911);
  text-shadow: 0 0 1.5px rgba(245, 0, 82, 0.911);
}

header a {
  text-decoration: none;
  color: rgba(245, 0, 82, 0.911);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;

}

/* button styling */

header nav ul li a {
  padding: 10px 15px;
  font-weight: normal;
  font-size: 1.60vw;
  text-shadow: 0 0 1.5px rgba(245, 0, 82, 0.911);
  border-radius: 15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;

}

header nav ul li a:hover {
  background: rgba(245, 0, 82, 0.911);
  color: #fff;
  border-radius: 15px;
  text-shadow: none;
  /*    transition: .5s ease-in;*/
}


/* Hero Style Start */
.hero {
  background-image: url("../src/assets/cover/profile.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;

}

/* Hero Style End */

/* hero-cta start */
.hero-cta {
  width: 35%;
  text-align: center;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: rgba(245, 0, 82, 0.911);
  text-shadow: 0 0 1.5px rgba(245, 0, 82, 0.911);
}

.hero-cta p {
  font-size: 25px;
  color: rgba(245, 0, 82, 0.911);
}

/* hero-cta end */

#about {
  color: rgba(245, 0, 82, 0.911);
}

/*Intro*/
.intro p {
  line-height: 1.7;
  color: #ff6488;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

.intro-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.intro-img {
  flex: 1 12%;
  margin-right: 20px;
}

.intro-img img {
  max-width: 100%;
  height: auto;
  margin-left: 5px;
}

.intro-text {
  flex: 12;
}

.intro-text p {
  color: rgba(245, 0, 82, 0.911);
  font-size: 18px;
}

/*end intro*/


/* REACH OUT STYLES START */
#reach-out {
  /* margin-top: 5px; */
  background: #ffa3b8;
}

#reach-out h2 {
  color: rgba(245, 0, 82, 0.911);
}

.contact h2 {
  color: #ffa3b8;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form {
  padding-right: 10%;
}

.contact-form button:hover {
  color: #ffa3b8;
  background: rgba(245, 0, 82, 0.911);
}

.contact-form input,
.contact-form textarea {
  border: 1px solid rgba(245, 0, 82, 0.911);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: rgba(245, 0, 82, 0.911);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #ffa3b8;

}


.contact-form input:focus,
.contact-form textarea:focus {
  background-color: #fff;
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: #fff;
  color: rgba(245, 0, 82, 0.911);
  text-align: center;
  padding: 15px 0;
  font-size: 25px;
  border-radius: 10px;



}

.contact-info>* {
  flex: 1;
  margin: 15px;
}


.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;

}

.contact-info h3 {
  color: rgba(245, 0, 82, 0.911);
  font-size: 32px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 25px;
  font-style: normal;


}

#contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.contact-info a {
  color: rgba(245, 0, 82, 0.911);
  display: inline;
}

.contact-info a:hover {
  color: #fff;
  transition: .5s ease;
}

/*end "Contact me" styles*/


/*Start Jobs section*/

.jobs {
  background: rgba(245, 0, 82, 0.911);

}


.job {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}


.job:nth-child(even) {
  border-bottom: 1px solid #fff;
}

.job:last-child {
  border-bottom: none;
}

.job-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: #ffa3b8;
}


.job-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.job-img {
  flex: 1 12%;
  margin-right: 250px;
  opacity: 0.5;
  filter: alpha(opacity=40);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.job-img img {
  max-width: 200%;
  max-height: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.job-img:hover {
  opacity: 1.0;
  /*    transition: .5s ease;*/
  filter: alpha(opacity=100);
  transform: scale(1.01);
}

.job-img img:hover {
  /*    transition: .5s ease-in-out;*/
  border: 5px solid #fff;
  transform: scale(1.1);
}

.job-img img:hover::after {
  transition: .5s ease;

}

.job-text {
  flex: 12;
}

.job-text p {
  color: #fff;
  font-size: 18px;
}

/*End Jobs section*/


/*Resume section*/
#resume-section {
  color: rgba(245, 0, 82, 0.911);

}

.download-intro p {
  line-height: 1.7;
  color: rgba(245, 0, 82, 0.911);
  width: 95%;
  font-size: 30px;
  margin: 0 auto;
  justify-content: center;
}

.resume-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10%;
  margin-top: 5%;
}

.resume-body>* {
  flex: 1;
  margin: 150px;
}

.column1,
.column2,
.column3 {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 30px 0 0 60px;
}

.column3 {
  margin-right: 0%;
}

.article {
  margin: 10px;
  margin-bottom: 1em;
  background-color: #ffa3b8;
}

.resume-body img {
  height: auto;
}

.download-text {
  height: auto;
  /* margin-left: 20%; */
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.download-logo {
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: rgba(245, 0, 82, 0.911);
  display: inline-block;
}

.download-logo:hover {
  color: rgba(245, 0, 82, 0.911);
  opacity: 0.5;
  transition: .5s ease;
}

.download-info {
  flex: 3 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

/* .download-text {
  flex: 12;
} */
/* 
.download-text p {
  color: #328C83;
  font-size: 32px;
} */

.column-title {
  color: rgba(245, 0, 82, 0.911);
  font-size: 25px;
  font-weight: bold;
}

.column-text {
  color: rgba(245, 0, 82, 0.911);
  font-size: 20px;
  padding: 5px;
}

.column-text ul li {
  list-style: none;
}

/*End resume section*/


/* start styles to <footer> */
footer {
  background: rgba(255, 108, 157, 0.911);
  font-weight: bold;
  width: 100%;
  height: 100px;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

footer h2 {

  color: #fff;
  font-size: 15px;
  margin: 0;
}

footer p {
  color: #fff;
  font-size: 15px;
  margin: 0;
  text-align: center;

}

footer div {
  line-height: 1.5;
  /* text-align: right; */
}

footer a {
  color: #fff;
}

footer a:hover {
  color: rgba(245, 0, 82, 0.911);
  transition: .5s ease;
}

.logo {
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: #fff;
  display: inline-block;
}

.logo:hover {
  color: #fff;
  opacity: 0.5;
  transition: .5s ease;
}

/* end styles to <footer> */


/* extra titles stylings */
.section-title {
  font-size: 48px;
  color: #ffa3b8;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: rgba(245, 0, 82, 0.911);
}

.secondary-border {
  border-color: #fff;
}

label {
  font-size: 25px;
}

/*Extra styling*/
.flex-row {
  display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;

  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2,
  footer div,
  footer p {
    text-align: center;
    width: 100%;
  }

  .hero-cta {
    width: 100%;
  }

  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }


  .contact-info {
    flex: 1 100%;
  }

  #contact-list {
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;

  }

}

@media screen and (max-width: 768px) {
  /* section {
    padding: 30px 15px;
  } */

  .job h3 {
    flex: 1 100%;
    text-align: center;
  }

  .job-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .job-img,
  .intro-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .job-img {
    margin-right: 100px;
  }

  .job-text {
    flex: 100%;
  }

  #contact-list {
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;

  }
}

@media screen and (max-width: 575px) {


  .section-title {
    width: 95%;
  }

  .intro p,
  .download-intro p {
    width: 100%;
    padding: 30px 15px;
  }

  .job-img {
    margin-right: 100px;
  }

  .contact-info {
    text-align: center;

  }

  .contact-info li {
    font-size: 25px;
    justify-content: space-between;


  }

  #contact-list {
    font-size: 25px;
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-right: 120px;

  }

  .contact-info>* {
    flex: 0 100%;
  }


}